* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}


.header {
  position: relative;
  top: 0;
  left: 0;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.banner {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(IMAGES/student\ background.jpeg);
  background-position: center;
}

.banner .logo{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 8%;
  background: transparent;
  cursor: pointer;
  border-radius: 70%; /* Make it round by setting border-radius to 50% */
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 70px;
  font-weight: bold;
  margin-top: 40px;
}

.content p {
  margin: 20px auto;
  font-size: 15px;
  font-weight: 100;
  line-height: 25px;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span {
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}

.post {
  text-align: center;
}


.nav-link {
  color: #081b29 !important; /* Change the link text color to white */
}

.dropdown-menu {
  background-color: transparent; /* Change the dropdown menu background color to dark gray */
}

.dropdown-item {
  color: #081b29 !important; /* Change the dropdown item text color to white */
}

.scrollspy-example {
  font-size: small;
  background-color: #081b29; /* Change the background color of the scrollspy container */
  color: #333; /* Change the text color inside the scrollspy container */
}

.scrollspy-example h4 {
  font-size: large;
  color: #007bff; /* Change the heading text color to blue */
}

#navbar-example2 .scroll{
  margin-right: 30px;
}

#navbar-example2 .navbar-brand {
  color: #081b29;
}

#scrollspyHeading4 + p {
  color: red;
}
